alembic~=1.13.0
fastapi[all]~=0.104.1
fastapi-users[sqlalchemy]
pyjwt[crypto]~=2.8.0
python-dotenv
sqlalchemy~=2.0.23
aiosqlite
pydantic~=2.5.2
redis~=4.6.0
pytest
fastapi-cache2[redis]
httpx
environs~=11.0.0
bcrypt~=4.1.1